body {
  text-align: center;
  font-size: 16pt;
  font-family: Arial, Helvetica;
  color: white;
  line-height: 18pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 10pt;
  border-width: 5px; 
  border-color: white; 
  border-style: dotted; 
  background-color: black; 
}


div {

    float: left;
 
   width: 40%;
 
   margin-left: 5px;

   margin-bottom: 50px;
 
 }

 input {

    margin-bottom: 20px;

 }

 header {

    text-align: center;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 10%;


 }
 
    
 
 section {
 
       margin-top: 40px;
 
         margin-left: 50%;
 
 }
 